html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid-cols-2 {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto;
}

.destination-card {
  max-height: 24rem;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.destination-card-inverse {
  max-height: 24rem;
  flex-direction: row-reverse;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.destination-card-img {
  width: 100%;
  height: 24rem;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  max-width: 36rem;
}

.destination-card-content {
  padding: 1rem 0.75rem;
  width: 100%;
  overflow-x: hidden;
}

.destination-card-content h3 {
  font-weight: 500;
}

.destination-card-btn {
  /* padding: ; */
  background-color: #5b3524;
  border-radius: 4px;
  padding: 0.5rem 1.25rem;
  color: #ffffff;
}

.destination-card-btn:hover {
  background-color: #5b3524;
  color: #fff;
}

.destination-card-btn:active {
  color: #ffffff;
}

@media screen and (max-width: 1120px) {
  .destination-card {
    flex-direction: column-reverse;
    gap: 0;
  }
  .destination-card-inverse {
    flex-direction: column-reverse;
    gap: 0;
  }
  .destination-card-img {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: auto;
  }
}
